@model AddRoleViewModel
@{
    ViewData["Title"] = "Add Role";
}

<p class="text-success">@ViewData["StatusMessage"]</p>
<h2>@ViewData["Title"].</h2>
<form asp-controller="Manage" asp-action="AddRole" method="post" class="form-horizontal">
    <h4>Create new role.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RoleName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
